<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>计数属性</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>
        * {
            margin-top: 20px;
        }

        .msg1 {
            height: 50px;
            background-color: red;
        }

        .msg2 {
            height: 50px;
            background-color: rgb(46, 20, 113);
        }
    </style>
</head>


<body>
    <div id="vm">
        姓：<input type="text" v-model="name1">
        <br>
        名：<input type="text" v-model="name2">
        <br>
        姓名:{{fuulName}}
        <br>
    </div>
</body>

<script type="text/javascript">
    var vm = new Vue({
        el: '#vm',
        data: {
            name1: '伍',
            name2: '佳',
        },
        computed: {
            fuulName() {
                return this.name1 + '-' + this.name2
            }
        }
    })
</script>

</html>